.canvas-container {
  margin: 0 auto;
}

.spacer-top-sm {
  margin-top: 10px;
}

.spacer-top-md {
  margin-top: 20px;
}

.spacer-top-lg {
  margin-top: 40px;
}

.spacer-bottom-md {
  margin-bottom: 20px;
}

.Modal {
  position: absolute;
  top: 100px;
  left: 200px;
  right: 200px;
  bottom: 100px;
}

.heading {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 4em;
}
